{% extends "dipp/base.html" %}
{% load static %}
{% block content %}
<div id="page-wrapper">
<div class="container-fluid ">

  <script type="text/javascript" src="{% static 'dept/fusioncharts/js/fusioncharts.js' %}"></script>
  <script type="text/javascript" src="{% static 'dept/fusioncharts/js/themes/fusioncharts.theme.fusion.js' %}"></script>

<div class="text-center">
<!--body style="font-family:'Helvetica Neue', Arial; font-size: 16px;"-->
	<h3>{{ chartTitle|safe }}</h3>
  <div id="target">{{ output_target|safe }}</div>
  
  <h3>{{ chartTitle|safe }}</h3>
  <div id="achievement">{{ output_achievement|safe }}</div>

  <!-- start form-->
  <form role="form" method="POST" action="{% url 'view_comparision_analysis_stk' %}">
      {% csrf_token %}
      <div class="form-group">
        <div class="row">
          <div  class="form-group col-sm">
            <label>Department Name(First)</label>
            <select class="form-control" name="department1" style="width:60%">
              {% for department in dept %}
              <option value="{{department.dept_name}}" class="form-control">{{department.dept_name}}</option>
              {% endfor %}
  
            </select>
          </div>
          <div class="form-group col-sm">
            <label>Department Name(Second)</label>
            <select class="form-control" name="department2" style="width:60%">
              {% for department in dept %}
              <option value="{{department.dept_name}}" class="form-control">{{department.dept_name}}</option>
              {% endfor %}
  
            </select>
          </div>
        </div>
      </div>
      <div class="row">
      
  <div class="col-sm-4"></div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary" style="width: 85%" align>Compare</button>
        </div>
      </div>
    </form>
      <!-- end form-->
</div>
</div>
</div>
{% endblock %}



