{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DASHBOARD by DIPP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freshdesignweb.com" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freshdesignweb.com" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet"> -->

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'home/css/animate.css' %}">

	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'home/css/icomoon.css' %}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'home/css/themify-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'home/css/magnific-popup.css' %}">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'home/css/flexslider.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'home/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="ubea-loader"></div>

	<div id="page">
	<nav class="ubea-nav" role="navigation">
		<div class="ubea-container">
			<div class="row">
				<div class="col-sm-3 col-xs-12">
					<div id="ubea-logo"><a href="#">DASHBOARD by <em>DIPP</em> </a></div>
				</div>
				<div class="col-xs-9 text-right menu-1 main-nav ">
					<ul>
						<li class="active"><a href="#" data-nav-section="home">Home</a></li>
				<!--		<li><a href="#" data-nav-section="services">Services</a></li>  -->
						<li><a href="#" data-nav-section="portfolio">For Whom</a></li>
            	<!--		<li><a href="#" data-nav-section="about">About us</a></li>   ->
					<!--	<li><a href="#" data-nav-section="contact">Contact</a></li> -->
						<li><a href="{% url 'login' %}" class="external">Login</a></li>

					</ul>
				</div>
			</div>

		</div>
	</nav>

	<div id="ubea-hero" class="js-fullheight"  data-section="home">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url('{% static 'home/img/img_bg_1.png' %}');">
		   		<div class="overlay"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Department for Promotion of Industry and Internal Trade</h2>
		   					<!--
		   					<p><a href="#" target="_blank" class="btn btn-primary btn-lg">Get Started</a></p> -->
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url('{% static 'home/img/img_bg_2.png' %}');">
		   		<div class="overlay"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Celebrating Innovation and Promoting Divergent Thinking.</h2>
		   					<!--
		   					<p><a href="#" class="btn btn-primary btn-lg">Get started</a></p> -->
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url('{% static 'home/img/img_bg_3.png' %}');">
		   		<div class="overlay"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>Zero Defect Zero Effect.</h2>
		   					<!--
		   					<p><a href="#" class="btn btn-primary btn-lg">Get started</a></p> -->
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</div>
	<!-- End of 1st scroll-->

	<div id="page-wrapper" >
		<div class="container-fluid" >
				<div class="row" >
						<div class="col-lg-12">
								<h1 class="page-header text-center">Ranking</h1>
						</div>
						<!-- /.col-lg-12 -->
				</div>
				<!-- /.row -->
				<div class="row">
					<div class="text-center" style="padding-left:500px">
						<div class="col-lg-6">
								<div class="panel panel-default">
										<div class="panel-heading">
												Ranking
										</div>
										<!-- /.panel-heading -->
										<div class="text-center" style="">
										<div class="panel-body" >
												<div class="table-responsive">
														<table class="table table-striped table-bordered table-hover"  id="">
																<thead>
																		<tr>
																				<th>Department Name</th>
																				<th>Score</th>

																		</tr>
																</thead>
																<tbody>
																	{% for dept,score in l %}
																		<tr class="odd gradeX">
																				<td>{{dept}}</td>
																				<td>{{score}}</td>

																		</tr>

																	{% endfor %}
																 </tbody>
														</table>
												</div>
												</div>
												</div>
												</div>
												</div>
												</div>
												</div>
	
<!-- ranking ends-->
<br>
<br>
<div id="page-wrapper">
	<div class="container-fluid ">
	
		<script type="text/javascript" src="{% static 'dept/fusioncharts/js/fusioncharts.js' %}"></script>
		<script type="text/javascript" src="{% static 'dept/fusioncharts/js/themes/fusioncharts.theme.fusion.js' %}"></script>
	
	<div class="text-center">
	<!--body style="font-family:'Helvetica Neue', Arial; font-size: 16px;"-->
		<h3>{{ chartTitle|safe }}</h3>
		<div id="chart-1">{{ output|safe }}</div>
	</div>
	</div>
	</div>
	<br>
	<br>

<!--shit begings/-->
	

		<div class="ubea-section" id="ubea-portfolio" data-section="portfolio">
			<div class="ubea-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center ubea-heading">
						<h2>DIPP</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div align=centre>
				<div class="row">
					<div class="col-md-12">
						<a href="{% static 'home/img/img_bg_10.png' %}" class="ubea-card-item image-popup" title="DIPP">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/img_bg_10.png' %}" alt="DIPP" class="img-responsive">
							</figure>
						</a>
					</div>
				</div>
			</div>
			</div>
		</div>

		<div class="ubea-section" id="ubea-portfolio" data-section="portfolio">
			<div class="ubea-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center ubea-heading">
						<h2>Departments</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<a href="{% static 'home/img/dept_1.jpg' %}" class="ubea-card-item image-popup" title="Department of Human Resource and Development">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/dept_1.jpg' %}" alt="Department of Human Resource and Development" class="img-responsive">
							</figure>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'home/img/dept_2.jpg' %}" class="ubea-card-item image-popup" title="Department of Biotechnology">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/dept_2.jpg' %}" alt="Department of Biotechnology" class="img-responsive">
							</figure>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'home/img/dept_3.png' %}" class="ubea-card-item image-popup" title="Department of Science and Technology">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/dept_3.png' %}" alt="Department of Science and Technology" class="img-responsive">
							</figure>
						</a>
					</div>

					<div class="col-md-4">
						<a href="{% static 'home/img/dept_4.png' %}" class="ubea-card-item image-popup" title="Department for Promotion of Industry and Internal Trade">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/dept_4.png' %}" alt="Department for Promotion of Industry and Internal Trade" class="img-responsive">
							</figure>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'home/img/dept_5.jpg' %}" class="ubea-card-item image-popup" title="Ministry of Finance">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/dept_5.jpg' %}" alt="Ministry of Finance" class="img-responsive">
							</figure>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'home/img/dept_6.jpg' %}" class="ubea-card-item image-popup" title="Department of Electronics and IT">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/dept_6.jpg' %}" alt="Department of Electronics and IT" class="img-responsive">
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="ubea-section" id="ubea-portfolio" data-section="portfolio">
			<div class="ubea-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center ubea-heading">
						<h2>Stakeholders</h2>
						<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
					</div>
				</div>
				<!--
					<div class="col-md-4">
						<a href="{% static 'home/img/img_6.jpg' %}" class="ubea-card-item image-popup" title="Project name here.">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/img_6.jpg' %}" alt="Image" class="img-responsive">
							</figure>
						</a>
					</div>  -->
					<div class="col-md-4">
						<a href="{% static 'home/img/img_1.png' %}" class="ubea-card-item image-popup" title="Associations">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/img_1.png' %}" alt="Associations" class="img-responsive">
							</figure>
						</a>
					</div>
					<div class="col-md-4">
						<a href="{% static 'home/img/img_3.jpeg' %}" class="ubea-card-item image-popup" title="Investors">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/img_3.jpeg' %}" alt="Investors" class="img-responsive">
							</figure>
						</a>
					</div>

				<div class="row">
					<div class="col-md-4">
						<a href="{% static 'home/img/img_2.png' %}" class="ubea-card-item image-popup" title="Startups">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/img_2.png' %}" alt="Startups" class="img-responsive">
							</figure>
						</a>
					</div>

					<div class="col-md-4">
						<a href="{% static 'home/img/img_4.png' %}" class="ubea-card-item image-popup" title="Unions">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/img_4.png' %}" alt="Unions" class="img-responsive">
							</figure>
						</a>
					</div>


					<div class="col-md-4">
						<a href="{% static 'home/img/a.png' %}" class="ubea-card-item image-popup" title="Government Agencies">
							<figure>
								<div class="overlay"><i class="ti-plus"></i></div>
								<img src="{% static 'home/img/a.png' %}" alt="Government Agencies" class="img-responsive">
							</figure>
						</a>
					</div>

				</div>
			</div>
		</div>

	<div id="ubea-contact" data-section="contact" class="ubea-cover ubea-cover-xs" style="background-image:url('{% static 'home/img/img_bg_2.png' %}');">
		<div class="overlay"></div>
		<div class="ubea-container">
			<div class="row text-center">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-12">
							<h3>Contact Details : <a>abc@abc.com</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="ubea-footer" role="contentinfo">
		<div class="ubea-container">

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy;Developed by PyProgramador</small>

					</p>
					<!--
					<p class="pull-right">
						<ul class="ubea-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>  -->
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'home/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'home/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'home/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'home/js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'home/js/jquery.countTo.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'home/js/jquery.flexslider-min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'home/js/magnific-popup-options.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'home/js/main.js' %}"></script>

	</body>
</html>
