{% extends "dipp/base.html" %}
{% load static %}


{% block content %}
<div id="page-wrapper">
<div class="container container-fluid ">
<div class="row d-flex justify-content-center">
    <div class="col-lg-12">
        <h1 class="page-header text-center">Plan Meeting</h1>
    </div>
    <!-- /.col-lg-12 -->
    <!-- form -->

    <form class="col-sm-8" role="form" method="post" action="{% url 'add_meeting_action' %}">
      {% csrf_token %}
          <div class="form-group" >
              <label>Date Of Meeting</label>
              <input class="form-control" placeholder="" type="date" min="{{date}}" required name="m_date" >
          </div>
          <div class="form-group" >
              <label>Time of Meeting</label>
              <input class="form-control" type="time" min=" name="m_time" required>
          </div>
          <div class="form-group" >
              <label>Meeting With whom</label>
              <select class="form-control" name="with_whom">
                {% for department in d %}
                <option value="{{department.dept_name}}" class="form-control">department: {{department.dept_name}}</option>
                {% endfor %}
                {% for stk_hld in s %}
                <option value="{{stk_hld.stk_name}}" class="form-control">Stakeholder: {{stk_hld.stk_name}}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group" >
              <label>Subject of meeting</label>
              <input class="form-control" type="text" placeholder="enter Subject" name="m_subject" required>
          </div>
          <div class="form-group" >
              <label>Details</label>
              <textarea name="desc" class="form-control" rows="8" cols="80" type="text" placeholder="enter Subject"  name="m_subject" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Add</button>
    </form>

    <!-- end form-->
</div>
</div>
</div>



{% endblock %}
