{% extends "dipp/base.html" %}
{% load static %}


{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>


<div id="page-wrapper">
<div class="container container-fluid">
<div class="row d-flex justify-content-center">
    <div class="col-lg-12">
        <h1 class="page-header text-center">Add Department</h1>
    </div>
    <!-- /.col-lg-12 -->
    <!-- form -->
  <div class="col-sm-8 ">
    <form role="form"  method="post" action="{% url 'add_dept_action' %}">
      {% csrf_token %}
          <div class="form-group" >
              <label for="name">Department Name</label>
              <input class="form-control" placeholder="enter department name" type="text" name="dept_name" required>
          </div>
          <div class="form-group">
                <label >Action Points assigned:</label>
          <select data-placeholder="Action Points..." multiple class="form-control chosen-select" name="actionpoint">
                <option value=""></option>
                {% for actionpoint in actionpoints %}
                <option value="{{ actionpoint.action_no }}">{{ actionpoint.action_no }}. {{ actionpoint.action_name }}</option>
                {% endfor %}
              </select>
          </div>
          <div class="form-group" >
              <label>Email</label>
              <input class="form-control" type="email" placeholder="enter E-mail"  name="email" required>
          </div>
          <div class="form-group" >
              <label>Contact no</label>
              <input class="form-control" type="text" placeholder="enter Contact no" name="contact" required>
          </div>
          <div class="form-group" >
              <label>Department Login Id</label>
              <input required class="form-control" type="text" placeholder="enter loginId" name="dept_id">
          </div>
          <div class="form-group" >
              <label>Department Password</label>
              <input required class="form-control" type="password" placeholder="enter password" name="dept_password">
          </div>
          <div class="justify-content-center"><button type="submit" class="btn btn-block text-white align-middle bg-gradient-primary">Add</button></div>
    </form>

    <!-- end form-->
</div>
</div>
</div>
</div>

<script>

$(".chosen-select").chosen({
  no_results_text: "Oops, nothing found!"
})

</script>


{% endblock %}
